@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    color: #F6F6F6;
    /* height: 100vh; */
}
/* header */
.cabeçalho{
    padding: 2% 0% 0% 15%;/* topo, direita, baixo, esquerda */
}
/*nav*/
.cabeçalho_menu{
 
    display: flex;
    gap: 80px;


}
/*a*/
.cabeçalho_menu_link{
    font-size: 1.5rem; /* 24px = fonte media do browser 1 rem = 16px */
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:#F6F6F6;
    text-decoration: none;
    background-color: #000000;
}

.Conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 15%;
    gap: 50px;
}

.conteudo__esquerda {
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 30px;
}

.conteudo__esquerda__titulo {
    font-size: 2.25rem;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.conteudo__esquerda__Paragrafo {
    font-size: 1.5rem;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.conteudo__esquerda_links {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.conteudo__esquerda__linsk__botão1,
.conteudo__esquerda__links__botão2 {
    background-color: #898989;
    width: 50%;
    font-size: 1.5rem;
    padding: 16px;
    border-radius: 12px;
    text-decoration: none;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-align: center;
    transition: background-color 0.3s;
    gap: 40px;
}

.conteudo__direita {
    max-width: 400px;
    width: 50%;
    height: 50%;
    border-radius: 20px;
}

.rodape{
    color: black;
    background-color: #898989;
    text-align: center;
    padding: 2% 0% 0% 15%;/* topo, direita, baixo, esquerda */
    font-family: "Special Gothic Condensed One", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    /* altura = altura da fonte + padding + padding topo + padding baixo */
    /* largura rodape = largura do body */
}

@media(max-width: 1024px){
.conteudo{
    flex-direction: column-reverse;
}

.conteudo__direita{
    width: auto;
}

.conteudo__esquerda{
    width: auto;
}

.conteudo__esquerda_links{
    flex-direction: column;
}
}